$font-family: "Noto Sans", sans-serif;

.card {
  width: 12rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  margin: 0.3rem;
  cursor: pointer;
  .user_info {
    display: flex;
    align-items: center;
    padding: 0.7rem 0.6rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    svg {
      width: 0.9rem;
      height: 0.9rem;
      color: white;
      visibility: hidden;
    }
    p {
      width: 100vw;
      margin: 0;
      font-size: 0.9rem;
      font-weight: 400;
      font-family: $font-family;
    }
  }
  .status_content {
    .status_text {
      color: black;
      font-family: $font-family;
      padding: 0.6rem;
      font-size: 0.85rem;
      height: 11.3vh;
      max-height: 11.3vh;
      margin: 0;
    }
  }
}
.card:hover {
  svg {
    visibility: visible;
  }
}
