.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  width: 95rem;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  right: 0;

  /* .navbarItemsLeft {
    width: calc(95rem - 30vw);
    text-align: right;
    input {
      width: 35vw;
      border-radius: 3px;
      border: none;
      padding: 0.6rem;
      font-size: 0.9rem;
      font-family: "Noto Sans", sans-serif;
      color: rgb(104, 104, 104);
      background-color: rgb(250, 250, 250);
    }
  } */

  .navbarItemsRight {
    width: 30vw;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0 2rem;
      svg {
        cursor: pointer;
        padding-top: 2px;
        color: darkgrey;
      }
      li {
        color: white;
        font-size: 1.2em;
        font-weight: 600;
        cursor: pointer;
        padding: 0 2rem;
      }
      li:hover {
        transition: all ease-in-out 0.75s;
      }
    }
  }
}
